<section class="bg-(--neutral-100)">
    <div class="my-container py-16">
        <div class="flex flex-col gap-y-5 md:gap-y-0 md:flex-row justify-between">
            <div class="md:w-[50%] w-full flex flex-col gap-y-4">
                <h3 class="font-bold">Join Our Newsletter</h3>
                <p class="font-medium text-(--neutral-500)">We love to surprise our subscribers with occasional gifts.</p>
            </div>
            <div class="md:w-[50%] w-full flex items-center justify-between">
                <input placeholder="Your email address" class="focus:outline-none lg:w-[70%] w-[60%] p-2 rounded-[5px] border border-gray-300" type="email" pInputText />
                <app-button [title]="'Subscribe'" [bgColor]="'bg-(--neutral-900)'" [buttonPadding]="'10px 25px'" [textColorClass]="'text-white'" [buttonWidth]="'w-[50%]'" [routerLink]="'/home'"></app-button>
            </div>
        </div>
    </div>
</section>