<app-breadcrumbs [title]="'Register'"></app-breadcrumbs>
<form [formGroup]="registerForm" (ngSubmit)="RegisterSubmit()">

    <div class="flex flex-col items-center my-14">
        <div class="flex flex-col w-[70%] lg:w-[40%] gap-y-3">

            <label for="name">Name</label>
            <input formControlName="name" class="focus:outline-none p-2 rounded-[5px] border-1 border-(--neutral-300)" id="name" type="text" pInputText />

            <label for="email">Email</label>
            <input formControlName="email" class="focus:outline-none p-2 rounded-[5px] border-1 border-(--neutral-300)" id="email" type="text" pInputText />
    
            <label for="password">Password</label>
            <div class="relative">
                @if(registerForm.get('password')?.dirty && registerForm.get('password')?.value) {
                    <i (click)="togglePasswordVisibility()" 
                       class="pi absolute right-5 top-3"
                       class="{{ passwordHidden ? 'pi-eye' : 'pi-eye-slash' }}">
                    </i>
                }
                <input #passwordInput formControlName="password" class="focus:outline-none w-full p-2 rounded-[5px] border border-gray-300" id="password" type="password" pInputText />
            </div>

            <label for="Address">Address</label>
            <input formControlName="address" class="focus:outline-none p-2 rounded-[5px] border-1 border-(--neutral-300)" id="Address" type="text" pInputText />
            
        </div>
        
        <button [disabled]="registerForm.invalid || isLoading" class="disabled:cursor-not-allowed transition-all disabled:bg-(--neutral-600) bg-(--neutral-900) mt-6 text-white w-[70%] lg:w-[40%] p-3 rounded-[5px] cursor-pointer" type="submit">
            @if(isLoading){
                <i class="pi pi-spin pi-spinner" style="font-size: 1.5rem"></i>
            }@else{
                Register
            }
        </button>
        <p-toast />
    </div>
    
</form>

