<div class="flex justify-between flex-wrap gap-y-10 flex-col md:flex-row items-center">
    @for (product of productsList(); track product._id) {
        <div>
            <img [routerLink]="'/product/' + product._id" class="cursor-pointer" [src]="product.productImage" alt="{{product.title}}">
            <h2 [routerLink]="'/product/' + product._id"  class="font-medium cursor-pointer pt-7">{{product.title}}</h2>
            <div class="flex gap-x-4 pt-3">
                <app-stock-status [stockStatus]="product.stockStatus"></app-stock-status>
                <p class="text-(--neutral-500)">{{ product.price | currency }}</p>
            </div>
        </div>
    }
</div>