<section class="flex flex-col gap-y-4">
    <h2 class="font-semibold">Reviews</h2>
    @if (productReview()) {
        @if(productReview().length === 0){
            <div class="bg-(--neutral-100) my-3 rounded-[10px] py-5 px-5 flex flex-col gap-y-3">
                <p class="font-semibold">There's No Reviews for this product yet!</p>
            </div>
            }
            <div class="max-h-64 overflow-y-scroll">
        
                @for (review of productReview(); track review.reviewId) {
                <div class="bg-(--neutral-100) my-3 rounded-[10px] py-5 px-5 flex flex-col gap-y-3">
        
                    <div class="flex justify-between">
                        <div class="flex items-center gap-x-3">
                            <img class="bg-(--neutral-300) p-1 rounded-full" src="assets/icons/User.svg" alt="User Icon">
                            <h3 class="font-medium">{{review.title}}</h3>
                        </div>
                        <p class="font-medium">{{review.createdAt | date }}</p>
                    </div>
        
                    <div class="flex items-center gap-x-2">
                        <p>{{review.rating}}</p>
                        <div class="flex">
                            @for (num of ['1','2','3','4','5'].slice(0,review.rating); track $index) {
                            <img src="assets/icons/Star.svg" alt="Star.svg">
                            }
                        </div>
                    </div>
        
                    <p>{{review.review}}</p>
        
                </div>
                }
            </div>
    }

    <div class="card flex justify-end">
        <p-button (click)="showDialog()" styleClass="!bg-(--neutral-900) !border-none" label="Create Review" />

        <p-dialog maskStyleClass="backdrop-blur-sm" [(visible)]="visible" styleClass="!border-0 !bg-transparent">
            <ng-template #headless>
                <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                    <div class="flex flex-col px-8 py-8 gap-6 rounded-2xl bg-(--neutral-300)"
                        style="border-radius: 12px;">
                        <h2 class="text-primary-50 font-semibold text-xl text-center">Create Review</h2>

                        <!-- Review Title -->
                        <div class="inline-flex flex-col gap-2">
                            <label for="reviewTitle" class="text-primary-50 font-semibold">Review Title</label>
                            <input pInputText id="reviewTitle" formControlName="title"
                                class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
                                placeholder="Enter review title" />
                            @if (reviewForm.get('title')?.invalid && reviewForm.get('title')?.touched) {
                            <small class="text-red-500">
                                Title is required (min 5 characters)
                            </small>
                            }
                        </div>

                        <!-- Review Description -->
                        <div class="inline-flex flex-col gap-2">
                            <label for="reviewDesc" class="text-primary-50 font-semibold">Review Description</label>
                            <textarea pInputTextarea id="reviewDesc" formControlName="review" rows="3"
                                class="!bg-white/20 !border-0 !p-4 !text-primary-50 w-80"
                                placeholder="Write your review"></textarea>
                            @if (reviewForm.get('review')?.invalid && reviewForm.get('review')?.touched) {
                            <small class="text-red-500">
                                Review must be at least 10 characters long
                            </small>
                            }
                        </div>

                        <!-- Rating (Stars) -->
                        <div class="inline-flex flex-col gap-2">
                            <label class="text-primary-50 font-semibold">Rating</label>
                            <p-rating formControlName="rating"></p-rating>
                            @if (reviewForm.get('rating')?.invalid && reviewForm.get('rating')?.touched) {
                            <small class="text-red-500">
                                Rating must be between 1 and 5
                            </small>
                            }
                        </div>

                        <!-- Buttons -->
                        <div class="flex items-center gap-4">
                            <p-button label="Cancel" (click)="closeDialog()" [text]="true"
                                styleClass="!p-4 w-full !text-black !border !border-white/30 hover:!bg-white/10" />
                            <p-button label="Submit Review" type="submit" [disabled]="reviewForm.invalid"
                                styleClass="!p-4 w-full !bg-(--neutral-500) !border-none hover:!bg-(--neutral-600) !text-white" />
                        </div>
                    </div>
                </form>
            </ng-template>
        </p-dialog>
    </div>
    <p-toast />
</section>