<section>
    <div class="my-container">
        <div class="flex py-28 flex-wrap gap-x-6 lg:flex-nowrap">
        
            <div class="w-[33.33%]">
                <app-feature-item [title]="'Free Shipping'" [description]="'Upgrade your style today and get FREE shipping on all orders! Don\'t miss out.'" [iconSrc]="'assets/icons/features/truck.png'"></app-feature-item>
            </div>

             <div class="w-[33.33%]">
                <app-feature-item [title]="'Satisfaction Guarantee'" [description]="'Shop confidently with our Satisfaction Guarantee: Love it or get a refund.'" [iconSrc]="'assets/icons/features/middle.png'"></app-feature-item>
            </div>

            <div class="w-[33.33%]">
                <app-feature-item [title]="'Secure Payment'" [description]="'Your security is our priority. Your payments are secure with us.'" [iconSrc]="'assets/icons/features/shield.png'"></app-feature-item>
            </div> 

        </div>
    </div>
</section>