<section [style.backgroundColor]="'var(' + backgroundVarColor + ')'">
    <div [ngClass]="'py-' + padding"    class="my-container">
        <h2 [ngClass]="{'hidden':!title}" class="text-3xl font-semibold mb-2">{{title}}</h2>
        <div class="flex items-center">
            <p routerLink="/home" class="text-(--neutral-500) cursor-pointer">OutFav</p>
            <span><img src="assets/icons/Chevron Right.png" alt="Chevron Right"></span>
            <span class="font-medium">{{url}}</span>
        </div>
    </div>
</section>