<app-breadcrumbs title="About" [url]="'About'" padding="20"></app-breadcrumbs>
<section class="my-container bg-white shadow-lg rounded-2xl border border-gray-200 my-14 p-6">
    <h2 class="text-2xl font-bold text-(--neutral-900) mb-4">About OutFav</h2>
    <p class="text-lg text-(--neutral-700) leading-relaxed">
        <strong>OutFav</strong> is a modern e-commerce platform designed to provide a seamless shopping experience. 
        Our platform offers a curated selection of high-quality products with a user-friendly interface, 
        ensuring a smooth and enjoyable online shopping journey.
    </p>

    <h2 class="text-2xl font-bold text-(--neutral-900) mt-6 mb-4">About the Developer</h2>
    <p class="text-lg text-(--neutral-700) leading-relaxed">
        Hello, I'm <strong>Yousef</strong>, a passionate <strong>Full-Stack Developer</strong> specializing in <strong>Angular & Node.js</strong>.  
        I love building modern, scalable, and high-performance web applications.  
        Always eager to learn and improve, I focus on delivering clean code and seamless user experiences.
    </p>
</section>
