<section>
    <div class="flex mt-44 my-container justify-between md:flex-nowrap flex-wrap gap-y-4">
        <div class="md:w-[50%] w-full flex flex-col justify-center gap-y-5">
            <h2 class="font-bold text-3xl">Browse Our Fashion Paradise!</h2>
            <p class="text-(--neutral-500)">Step into a world of style and explore our diverse collection of clothing categories.</p>
            <app-button [title]="'Start Browsing'" [bgColor]="'bg-(--neutral-900)'" [buttonPadding]="'10px 25px'" [textColorClass]="'text-white'" [buttonWidth]="'w-[50%]'" [imageSrc]="'/assets/icons/Arrow Right.png'" [routerLink]="'/products'"></app-button>
        </div>
        <div class="md:w-[50%] w-full flex justify-end">
            <img class=" w-[200px]" src="assets/Category Image.png" alt="Category Image">
        </div>
    </div>
</section>