<!-- white or  --neutral-100 accept input-->
<footer class="bg-({{footerColor}})"> 
    <div class="my-container py-20">

        <div class="flex lg:justify-between flex-wrap lg:flex-nowrap justify-center gap-y-10">

            <div class="w-full lg:w-[20%] gap-y-3 flex flex-col self-start">
                <app-logo></app-logo>
                <p class="text-(--neutral-800)">Lorem ipsum dolor sit amet</p>
                <div class="icons gap-x-5 flex">
                    <i class="pi pi-github text-(--neutral-800) cursor-pointer"></i>
                    <i class="pi pi-twitter text-(--neutral-800) cursor-pointer"></i>
                    <i class="pi pi-youtube text-(--neutral-800) cursor-pointer"></i>
                </div>
            </div>
    
            <div class="lg:w-[50%] w-full lg:gap-x-24 gap-x-12 flex justify-between items-center">

                <div>
                    <p class="text-(--neutral-600)">SUPPORT</p>
                    <div class="mt-7 gap-y-3 flex flex-col">
                        <p class="link">FAQ</p>
                        <p class="link">Terms Of Use</p>
                        <p class="link">Privacy Policy</p>
                    </div>
                </div>

                <div>
                    <p class="text-(--neutral-600)">COMPANY</p>
                    <div class="mt-7 gap-y-3 flex flex-col">
                        <p class="link">About us</p>
                        <p class="link">Contact</p>
                        <p class="link">Careers</p>
                    </div>
                </div>

                <div>
                    <p class="text-(--neutral-600)">SHOP</p>
                    <div class="mt-7 gap-y-3 flex flex-col">
                        <p class="link">My Account</p>
                        <p class="link">Checkout</p>
                        <p class="link">Cart</p>
                    </div>
                </div>

            </div>
    
            <div class="lg:w-[20%] w-full">
                <p class="text-(--neutral-600)">ACCEPTED PAYMENTS</p>
                <div class="icons flex justify-between pt-7">
                    <img src="assets/icons/Colored Icons/Vector-1.png" alt="AMEX">
                    <img src="assets/icons/Colored Icons/Vector-2.png" alt="VISA">
                    <img src="assets/icons/Colored Icons/Vector.png" alt="Master Card">
                </div>
            </div>

        </div>

        <div class="footer-foot border-t-[1px] border-(--neutral-300) mt-10">
            <p class="text-center text-(--neutral-600) mt-14">© 2025 All rights reserved</p>
        </div>

    </div>
</footer>
